<launch>
	<arg name="log" default="false"/>

	<node name="utm_odometry_node" pkg="nautonomous_navigation_odometry" type="utm_odometry_node" output="screen">
		
		<!-- Inputs -->
  		<remap from="fix" to="/utm/fix" />
		
		<!-- Parameters -->
  		<param name="rot_covariance" value="99999" />
  		<param name="frame_id" value="base_footprint" />

		<!-- Outputs -->
		<remap from="odom" to="/utm/odom"/>

	</node>

	<node pkg="rosbag" type="record" name="rosbag_gps" args="record -o /media/NautonomousBlackBox/bags/UTM/utm_ublox /utm/fix /utm_odom" output="screen" if="$(arg log)"/>
</launch>
